@model Customer

@{
    ViewData["Title"] = "Confirm";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h1>Confirm the order was collected!</h1>
<h3>The customer will be notified the order was picked up!</h3>
<hr />


<form asp-action="Confirm">
    <div asp-validation-summary="ModelOnly" class="text-success">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="LastName" />
        <input type="hidden" asp-for="FirstName" />
        <input type="hidden" asp-for="StreetAddress" />
        <input type="hidden" asp-for="City" />
        <input type="hidden" asp-for="State" />
        <input type="hidden" asp-for="ZipCode" />
        <input type="hidden" asp-for="PickUpDayId" />
        <input type="hidden" asp-for="DropOffDayId" />/>
        <input type="hidden" asp-for="ZipCode" />
        <input type="hidden" asp-for="ConfirmPickUp" />
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="ConfirmDropoff" /> @Html.DisplayNameFor(model => model.ConfirmDropoff)
            </label>
        </div>
        <input type="hidden" asp-for="IdentityUserId" />


        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-success" />
        </div>
    </div>
</form>

<div>
    <form asp-action="Index">
        <button type="submit" class="btn btn-success">Back to @DateTime.Today.DayOfWeek </button>
    </form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
