@model Sud.Models.ViewModels.CustomerAddress
@{
    ViewData["Title"] = "Map";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Customer Location</h1>
<br />

<script defer
        src="https://maps.googleapis.com/maps/api/js?key=APIKeys.&callback=initMap">
</script>