@{
    ViewData["Title"] = "About";
}
<div align="center">
    <h2>About my Capstone Project</h2>
    <p>
        <h4>My Capstone project was done with ASP.NET Core MVC and Entity Framework Core 3.1 C#, HTML, CSS, JS, JSON and SQL.</h4>
        <h4>This project uses additional api's GeoCode, Google Maps, and Stripe.</h4>
        <h4>You can check out the code on my <a href="https://github.com/NCRadtke00/SudsCapstone">Github</a></h4>
    </p>
</div>
