@{
    ViewData["Title"] = "About";
}
<div align="center" class="jumbotron">
    <h2>About my Capstone Project</h2>
    <p>
        <h4>My Capstone project was done with ASP.NET 3.1 Core 3.1 MVC 5 and Entity Framework, HTML 5, CSS3, Bootstrap 4, JaveScript, JSON and SQL.</h4>
        <h4>This project uses  GeoCode, Google Maps, and Stripe API's.</h4>
        <h4>You can check out the code on my <a href="https://github.com/NCRadtke00/SudsCapstone">Github</a></h4>
    </p>
</div>
