@{
    ViewData["Title"] = "Contact Us";
}

<h2>Contact Us</h2>

<h4>
    If you have any questions please contact us by clicking the links below.
</h4>

<address>
    <strong>Support:</strong> <a href="mailto:Support@Sudys.com">Support@Sudys.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@Sudys.com">Marketing@Sudys.com</a>
</address>
