@model IEnumerable<Clothes>

@{
    var pageName = "Contact";
    ViewData["Title"] = pageName;
}
<style>
    .columnInfo {
        float: left;
        width: 50%;
        margin-top: 6px;
        padding: 20px;
    }
</style>

<div class="jumbotron">
    <div style="text-align:center">
        <h1>Contact us below! </h1>
        <h3>If you need additional support contact us by clicking the links below. </h3>
        <h4>We greatly appreciate your input! </h4>
    </div>
    <div class="container">
        <div class="row">
            <div class="columnInfo">
                <form action="~/home/ThankYou">
                    <dt>
                        <label for="fname">Name:</label>
                    </dt>
                    <dd>
                        <input type="text" id="fname" name="firstname" class="text-black-50" placeholder="Your name..">
                    </dd>
                    <dt>
                        <label for="pnumber">Phone Number:</label>
                    </dt>
                    <dd>
                        <input type="text" id="pnumber" name="phonenumber" class="text-black-50" placeholder="Your phone number..">
                    </dd>
                    <dt>
                        <label for="email">E-mail:</label>
                    </dt>
                    <dd>
                        <input type="text" id="email" name="email" class="text-black-50" placeholder="Your E-Mail..">
                    </dd>
                    <dt>
                        <label for="country">Country:</label>
                    </dt>
                    <dd>
                        <select id="country" name="country" class="text-primary">
                            <option value="usa">USA</option>
                            <option value="australia">Australia</option>
                            <option value="canada">Canada</option>
                            <option value="england">England</option>
                        </select>
                    </dd>
                    <dt>
                        <label for="subject">Subject:</label>
                    </dt>
                    <dd>
                        <textarea id="subject" name="subject" class="text-black-50" placeholder="Write something.." style="height:170px"></textarea>
                    </dd>
                    <dt>
                        <a class="btn btn-light text-primary" type="submit" value="Submit">Submit</a>
                    </dt>
                </form>
            </div>
            <div class="columnInfo">
                <address style="text-align:center">
                    <p>Phone Number # (262) 222-2222</p>
                    <p><strong>Tech Support:</strong></p>
                    <p><a href="mailto:TechSupport@Sudys.com" class="btn btn-light text-primary">TechSupport@Sudys.com</a></p>
                    <p><strong>Customer Support:</strong></p>
                    <p><a href="mailto:CustomerSupport@Sudys.com" class="btn btn-light text-primary">CustomerSupport@Sudys.com</a></p>
                    <p><strong>Marketing:</strong></p>
                    <p><a href="mailto:Marketing@Sudys.com" class="btn btn-light text-primary">Marketing@Sudys.com</a></p>
                    <p>Thank you for your support!</p>
                </address>
            </div>
        </div>
    </div>
</div>
