@model IEnumerable<Clothes>

@{
    var pageName = "Home Page";
    ViewData["Title"] = pageName;
}

<div align="center">
    <h1>Welcome to Sudsy!</h1>
    <h3>Laundry and Dry Cleaning at your convience!</h3>
</div>

@await Component.InvokeAsync("CarouselMenu")