@model IEnumerable<Clothes>

@{
    var pageName = "Info";
    ViewData["Title"] = pageName;
}
<div align="center">
    <h1>Suds, let us make your life a little bit easier!</h1>
    <h2>We offer a simple standard 3 day service, and rush services in either 2 days or the same day!</h2>
    <hr />
    <h3>Our services are done in <b>3</b> easy steps!</h3>
    <hr />
    <h4><b>Step 1</b></h4>
    <p>We pick up your laundry and dry cleaning when its convient for you!</p>
    <br />
    <h4><b>Step 2</b></h4>
    <p>We wash your belongings and fold them free of charge!</p>
    <br />
    <h4><b>Step 3</b></h4>
    <p>We deliever your order clean and dry!</p>
    <hr />
    <p>If you have any questions about your order or you need it to be expedited please <a asp-controller="Home" asp-action="Contact" class="text-primary">Contact us!</a></p>
</div>