@model Sud.Models.ViewModels.SearchClothesViewModel

@{
    var pageName = "Clothes Menu";
    ViewData["Title"] = pageName;
}

<div class="jumbotron">
    <div class="text-center text-light">
        <h2>Clothing Menu</h2>
        <h4>All services</h4>


    </div>
</div>
<div id="ClothesSummaryId">
    <div class="row">
        @foreach (var clothes in Model.ClothesList)
        {
            <div class="column">
                @Html.Partial("ClothesSummary", clothes)
            </div>
        }
    </div>
</div>