@model IEnumerable<Clothes>

@{
    var pageName = ViewBag.CurrentServices;
    ViewData["Title"] = pageName;
}

<div class="jumbotron">
    <h2>@ViewBag.CurrentServices</h2>
    <h2>Add the items you would like to your cart!</h2>
    <h4>Click on the items name to see more information and customer review scores on how we did!</h4>
</div>
<hr>
<div class="row">
    @foreach (var clothes in Model)
    {
        <div class="column">
            @Html.Partial("ClothesSummary", clothes)
        </div>
    }
</div>