@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sud</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-primary border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">Sud</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav text-white">
                                <li><a asp-controller="Clothes" asp-action="ListAll" class="text-white">Clothes</a></li>
                                @await Component.InvokeAsync("ServiceMenu")
                                @if (SignInManager.IsSignedIn(User))
                                {
                                    <li><a asp-controller="Reviews" asp-action="Index" class="text-white">Reviews</a></li>
                                    <li><a asp-controller="Orders" asp-action="Index" class="text-white">Orders</a></li>
                                }
                                else
                                {
                                    <li><a asp-controller="Reviews" asp-action="ListAll" class="text-white">Reviews</a></li>
                                }
                                @await Component.InvokeAsync("ShoppingCartSummary")
                            </ul>
                        </div>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-white bg-primary">
       <a asp-area="" asp-controller="Home" asp-action="About" class="text-white"><b>About</b></a>
       <a asp-area="" asp-controller="Home" asp-action="Contact" class="text-white"><b>Contact</b></a>
        &copy; Radtke, Nicholas 2020, viewed on @DateTime.Now.Date
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
