@model Sud.Models.Order
@{
    ViewData["Title"] = "Order Complete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">
    <h1>@ViewBag.CheckoutCompleteMessage </h1>

    <div>
        <a asp-action="Index" class="btn btn-light">Back to Dashboard</a>
    </div>
</div>