@model Sud.Models.Order
@{
    ViewData["Title"] = "Check Out";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h1>To complete your order we'll need some information from you</h1>
<h3>Step 1 of 3</h3>
<hr/>
@* this might need to be added to upload pic of stains enctype="multipart/form-data"*@
<form asp-action="Checkout" method="post" class="form-inline" role="form">
    <h4>You're just one step away from finishing your order!</h4>
    <h4>Please fill in the information below</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="FirstName" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="LastName" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Address.StreetAddress" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Address.StreetAddress" class="form-control" />
            <span asp-validation-for="Address.StreetAddress" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Address.City" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Address.City" class="form-control" />
            <span asp-validation-for="Address.City" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Address.State" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Address.State" class="form-control" />
            <span asp-validation-for="Address.State" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Address.ZipCode" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Address.ZipCode" class="form-control" />
            <span asp-validation-for="Address.ZipCode" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="PickUpDay" class="control-label"></label><br />
        <select asp-for="PickUpDay" asp-items="PickUpDay.PickupDay">
            <option value="">Choose a day</option>
        </select>
        <span asp-validation-for="PickUpDay" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DropOffDay" class="control-label"></label><br />
        <select asp-for="DropOffDay" asp-items="DropOffDay.DropoffDay">
            <option value="">Choose a day</option>
        </select>
        <span asp-validation-for="DropOffDay" class="text-danger"></span>
    </div>
    @*<div class="form-group">
            <label asp-for="Photo" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <div class="custom-file ">
                    <input asp-for="Photo" class="form-control custom-file-input" />
                    <span asp-validation-for="Photo" class="text-danger"></span>
                    <label class="custom-file-label">Choose file...</label>
                </div>
            </div>
        </div>*@
    <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
            <input type="submit" class="btn btn-primary" value="Complete order" />
        </div>
    </div>

</form>