@model Sud.Models.Order
@{ 
    ViewData["Title"] = "MakePayment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section stripe{
<script src="https://js.stripe.com/v3/"></script>
<script>
    var stripe = Stripe(@APIKeys.StripePublishableKey);

    var elements = stripe.elements();

    var cardElement = elements.create('card');

    cardElement.mount('#card-element');

    cardElement.on('change', function (event) {
        if (event.complete) {

        } else if (event.error) {

        }
    });
</script>

}
<h1>Submit Payment</h1>
<h4>Order Total : $@Model.OrderTotal</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="MakePayment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrderId" />
            <input type="hidden" asp-for="FirstName" />
            <input type="hidden" asp-for="LastName" />
            <input type="hidden" asp-for="AddressId" />
            <input type="hidden" asp-for="OrderTotal" />
            <input type="hidden" asp-for="PickUpDay" />
            <input type="hidden" asp-for="DropOffDay" />
            <input type="hidden" asp-for="PhoneNumber" />
            <input type="hidden" asp-for="Email" />
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="ConfirmDropoff" />
            <input type="hidden" asp-for="ConfirmPickUp" />
            <div class="form-group">
                <label for="card-element">
                    Credit or Debit Card Info
                </label>
                <div id="card-element" style="width: 100%"></div>
                <div id="card-errors" role="alert"></div>
            </div>
            <div class="form-group">
                <label asp-for="PaymentAmount" class="control-label"></label>
                <input asp-for="PaymentAmount" class="form-control" />
                <small>Please input dollars and cents separated by a decimal place.</small>
                <span asp-validation-for="PaymentAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit Payment" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>