@model Reviews

@{
    ViewData["Title"] = "Create Review";
}

<h2>Create</h2>

<form asp-action="CreateWithClothes">
    <div class="form-horizontal text-white">
        <h4>Review for Service</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Title" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Grade" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Grade" class="form-control" asp-items="ViewBag.Grade"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ClothesId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ClothesId" class="form-control" asp-items="ViewBag.ClothesId"></select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-light" />
            </div>
        </div>
    </div>
</form>

<div>
    <a class="btn btn-primary" asp-action="ClothesReviews" asp-route-clothesId="@Model.ClothesId">Back to Clothes</a>
</div>

